* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 35px;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 5px;
  padding: 10px;
  user-select: none;
  cursor: pointer;

  transform: translateX(calc(100% + 20px));
  visibility: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert.error {
  display: flex;
  align-items: center;
  gap: 10px;

  border: 1px solid #700000;
  background-color: #ff0000e7;
  color: #fff;
}

.alert.is-visible {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  fill: rgb(121, 1, 1);
  height: 40px;
  width: 40px;
}

.form {
  width: 80%;
}

.input {
  width: 75px;
}

.input__small {
  width: 50px;
}